<% content_for :head do %>
	<script type="text/javascript">
		Event.observe(window, "load", function() {
			$$(".editInterestPartialRemoveLink").each(function(element) {
				Event.observe(element, "click", function(event) {
					element.up('.editInterestPartial').hide()
					return true
				})
			})
		})
	</script>
<% end %>

<h1>Edit Your Profile</h1>

<div class="editForm">
<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <div class="editFormEntry">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  
  <div class="editFormEntry">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  
  <div class="editFormEntry">
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>
  </div>
  
  <div class="editFormEntry">
    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name %>
  </div>
  
  <div class="editFormEntry">
    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name %>
  </div>

  <div class="editFormEntry">
	<%= f.label :photo, "Photo URL" %>
	<%= f.text_field :photo %>
  </div>
  
	<div id="interests">
		<%= render :partial => 'edit_interest_read_only', :collection => @user.interests, :as => :interest %>
	</div>
	
	<br />
	<%= add_interest_link "Add Interest" %>
	<br /><br />
	
  <%= f.submit 'Update' %>
<% end %>
</div>