<h1>Listing <%=h @user.name%>'s interests</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
  </tr>

<% @user.interests.each do |interest| %>
  <tr>
    <td><%=h interest.name %></td>
    <td><%=h interest.category_id %></td>
    <td><%= link_to 'Show', interest %></td>
    <td><%= link_to 'Edit', edit_interest_path(interest) %></td>
    <td><%= link_to 'Destroy', interest, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New interest', new_user_interest_path %>c