<% content_for :head do %>
	<script type="text/javascript">
		Event.observe(window, "load", function() {
			$$(".interest").each(function(element) {
				Event.observe(element, "click", function(event) {
					element.hide()
					return true
				})
			})
		})
	</script>
<% end %>

<h1>Editing user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </p>
	<div id="interests">
		<%= render :partial => 'edit_interest_read_only', :collection => @user.interests, :as => :interest %>
	</div>
	<%= add_interest_link "Add Interest" %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>