<h1>Sign Up</h1>

<div class="editForm">
<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <div class="editFormEntry">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  
  <div class="editFormEntry">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  
  <div class="editFormEntry">
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>
  </div>
  
  <div class="editFormEntry">
    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name %>
  </div>
  
  <div class="editFormEntry">
    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name %>
  </div>
  
  <div class="editFormEntry">
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>
  
  <%= f.submit 'Sign Up' %>
<% end %>
</div>