<h1>New user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </p>
  <p>
    <%= f.hidden_field :latitude %>
  </p>
  <p>
    <%= f.hidden_field :longitude %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<script>
if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(success);
} else {
  error('not supported');
}

function success(position) {
  var latitude = position.coords.latitude;
  var longitude = position.coords.longitude;
 // alert(latitude + ", " + longitude)
  document.getElementById('user_latitude').value= latitude;
  document.getElementById('user_longitude').value= longitude; 
}
</script>

<%= link_to 'Back', users_path %>