<p>
  <%= link_to "Bookmark User", friendships_path(:friend_id => @user), :method => :post %>
</p>

<p>
  <b>Username:</b>
  <%=h @user.username %>
</p>

<p>
  <b>First name:</b>
  <%=h @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @user.last_name %>
</p>

<p>
  <b>Photo:</b>
  <%=h @user.photo %>
</p>

<p>
  <b>Latitude:</b>
  <%=h @user.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%=h @user.longitude %>
</p>

<h2>Interests</h2>
<table>
  <tr>
	<th>Name</th>
	<th>Category</th>
  </tr>
  <%= render :partial => 'show_interest', :collection => @interests, :as => :interest %>
</table>

<p>
  <b>Bookmarked Users:</b>
  <ul>
  <% @user.friendships.each do |friendship| %>
	<li><%= link_to friendship.friend.name, friendship.friend %> (<%= link_to "Remove", friendship, :method => :delete %>)</li>
  <% end %>
  </ul>
</p>

<p>
  <b>Bookmarked By:</b>
  <ul>
  <% @user.inverse_friends.each do |friend| %>
	<li><%= link_to friend.name, friend %></li>
  <% end %>
  </ul>
</p>