<h1><%= h @user.name %> (<%= link_to "Save #{h(@user.first_name)}", friendships_path(:friend_id => @user), :method => :post %>)</h1>

<h2><%= h @user.first_name %> is interested in...</h2>

<table class="interestTable">
  <tr>
    <th>Category</th>
    <th>Interest</th>
  </tr>
  <%= render :partial => 'show_interest', :collection => @interests, :as => :interest %>
</table>
<br />

<% content_for :head do %>
  <%= GMap.api %>
  <% @map.width, @map.height = "100%", 400 %>
  <%= @map.write %>
<% end %>

<%= @map.div %>