<p>
  <b>Username:</b>
  <%=h @user.username %>
</p>

<p>
  <b>Password:</b>
  <%=h @user.password %>
</p>

<p>
  <b>First name:</b>
  <%=h @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @user.last_name %>
</p>

<p>
  <b>Photo:</b>
  <%=h @user.photo %>
</p>

<p>
  <b>Latitude:</b>
  <%=h @user.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%=h @user.longitude %>
</p>


<%= link_to 'Interests', user_interests_path(@user)%> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>