<% if not current_user.friends.include? @user and current_user != @user %>
<p>
  
</p>
<% end %>

<h1><%= h @user.name %> (<%= link_to "Bookmark", friendships_path(:friend_id => @user), :method => :post %>)</h1>


<h2>Interests</h2>
<table>
  <tr>
	<th>Name</th>
	<th>Category</th>
  </tr>
  <%= render :partial => 'show_interest', :collection => @interests, :as => :interest %>
</table>

<p>
  <b>Bookmarked Users:</b>
  <ul>
  <% @user.friendships.each do |friendship| %>
    <li><%= link_to friendship.friend.name, friendship.friend %> 
    <% if @user == current_user %>
      (<%= link_to "Remove", friendship, :method => :delete %>)</li>
    <% end %>
  <% end %>
  </ul>
</p>

<p>
  <b>Bookmarked By:</b>
  <ul>
  <% @user.inverse_friends.each do |friend| %>
	<li><%= link_to friend.name, friend %></li>
  <% end %>
  </ul>
</p>