<%= image_tag(@user.photo, :alt => "", :class => "profile_pic") if @user.photo %><h1 class="profile_name"><%= h @user.name %> <%= render :partial => 'show_saver', :locals=>{:user_id=>current_user.id, :friend_id=>@user.id} %></h1>

<h2 class="clear"><%= h @user.first_name %> is interested in &#8230</h2>

<table class="interestTable">
  <tr>
    <th>Category</th>
    <th>Interest</th>
  </tr>
  <%= render :partial => 'show_interest', :collection => @interests, :as => :interest %>
</table>
<br />

<% content_for :head do %>
  <%= GMap.api %>
  <% @map.width, @map.height = "100%", 400 %>
  <%= @map.write %>
<% end %>

<%= @map.div %>