<h1>update user location</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.hidden_field :latitude %>
  </p>
  <p>
    <%= f.hidden_field :longitude %>
  </p>
  <p>
    <%= f.submit 'Update_location' %>
  </p>
<% end %>


<script>
if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(success);
} else {
  error('not supported');
}

function success(position) {
  var latitude = position.coords.latitude;
  var longitude = position.coords.longitude;

  document.getElementById('user_latitude').value= latitude;
  document.getElementById('user_longitude').value= longitude; 
}
</script>


<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>