<div class="editForm">
<% form_for @user_session, :url => user_session_path do |f| %>
  <%= f.error_messages %>
  
  <div class="editFormEntry">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  
  <div class="editFormEntry">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  
  <!--
  <%= f.check_box :remember_me %><%= f.label :remember_me %>
  -->
  
  <%= f.submit "Login" %>
<% end %>
</div>