<div id="headerPanel">
  <%= link_to image_tag("enchantee.png"), root_path %>
  <div id="headerPanelLinkBox">
		<ul>
    	<li><%= link_to 'Home', root_path %></li>
	    <li><%= link_to 'Map', nearby_map_path %></li>
	    <li><%= link_to 'Saved', saved_path %></li>
	    <li><%= link_to 'Profile', user_path(current_user.id) %></li>
	    <li><%= link_to 'Edit', edit_profile_path %></li>
	    <li><%= link_to 'Logout', logout_path %></li>
		</ul>
  </div> <!-- headerPanelLinkBox -->
  <img id="spinner" src="/images/ajax-loader.gif">
</div> <!-- headerPanel -->
