<div id="headerPanel">
  <%= link_to image_tag("enchantee.png"), root_path %>
  <div id="headerPanelLinkBox">
		<ul>
    	<li><%= link_to 'Home', root_path %></li>
	    <li><%= link_to 'Map', nearby_map_path %></li>
	    <li><%= link_to 'Profile', user_path(current_user.id) %></li>
	    <li><%= link_to 'Edit', '/user/edit' %></li>
	    <li><%= link_to 'Logout', logout_path %></li>
		</ul>
  </div> <!-- headerPanelLinkBox -->
  <%= render "users/update_location" %>
</div> <!-- headerPanel -->
